.formulario{
    background-color: rgb(103, 16, 160);
    padding: 10px;
}

.formulario_input{
    padding: 10px;
    width: 90%;
    color: rgb(36, 168, 185);
    margin: 10px;
}

.formulario_submit{
    width: 50%;
}