body{
    background-color: red;
    margin: 0;
}

.boxy{
    width: 300px;
    height: 400px;
    background: linear-gradient(to left,#000,transparent);
    margin: 0;
    border-radius: 7px;
    margin: auto;
    margin-top: 20px;
    border-top: 6px solid #0003;
}

h1{
    margin: 0;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    color: #fff;
}