body{
    margin: 0;
}

.box{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    margin: 20px;
}

.box-default{
    padding: 40px;
    border: 10px solid black;
}

.box-new{
    box-sizing: border-box;
    padding: 40px;
    border: 10px solid black;
}