body{
    background-color: #5fa;
    margin: 0;
}

.box{
    width: 100%;
    height: 400px;
    margin: 0;
    background-color: #5fa;
    background-image: url(https://tse2.mm.bing.net/th/id/OIP.fgiHmUoygRTjqsmRwxxQwQHaFj?pid=Api&P=0&h=1800);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background: url(https://tse2.mm.bing.net/th/id/OIP.fgiHmUoygRTjqsmRwxxQwQHaFj?pid=Api&P=0&h=1800) top / cover fixed #5fa;
}

p{
    font-size: 40px;
}