p{
    color: red;
    font-family: Garamond;
    font-size: 17px;
    font-weight: bold;
    text-align: start;
    font-style: italic;
    line-height: 1.3;
    letter-spacing: 1.2;
    font-weight: 100;
}

h1{
    text-align: center;
}

span{
    text-decoration: underline;
}